[Desktop Entry]
Type=Application
Name=Nelos Accessibility Bridge
Exec=/bin/sh -c 'dbus-update-activation-environment --systemd DISPLAY XAUTHORITY DBUS_SESSION_BUS_ADDRESS AT_SPI_BUS_ADDRESS; gsettings set org.gnome.desktop.interface toolkit-accessibility true'
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
NoDisplay=true
